/* Global css properties for theming and consistency */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
strong, b {
  font-weight: 700;
}
body {
  color: #000000;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #f6f8fa;
}
@media print {
  body {
    background-color: #FFF;
  }
}
body::backdrop {
  background-color: #f6f8fa;
}

:root{
    --main-dark:#000;
    --main-light:#fff;
    --font-dark:#fff;
    --font-light:#000;
    
}
